.main {
    height: 100%;
    width: 100%;
}

.IconLeaderBoard {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    vertical-align: center;
    margin-bottom: 90px;
    height: 60px;
    width: 60px;

}


.LeaderBoardButton {
    height: 100%;
    width: 100%;
}
.leaderboardImg {
    border-radius: 20px;
    height: 400px;
    width: 640px;
    horizontal-align: center;
    vertical-align: center;
    flow-children: right;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(221, 151, 0, 0.329);
    opacity: 0;
}
.leaderboard {
    height: 100%;
    width: 100%;
}


.first_column {
    
    height: 90%;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-right: 1px solid darkgoldenrod;


}

.nicknames {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid darkgoldenrod;
}


.second_column {
    height: 90%;
    width: 200px;
    margin-top: 20px;
    border-right: 1px solid darkgoldenrod;

}

.games {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid darkgoldenrod;
}
.third_column {
    height: 90%;
    width: 200px;
    margin-top: 20px;

}

.wins {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid darkgoldenrod;
    
}


.OpenThis
{
    opacity: 1;
    animation-name: OpenMenu;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    position: -186px 50px 0px;
}
@keyframes 'OpenMenu'
{
    0%
    {
       opacity: 0;
       position: -500px 0px 0px;
    }
    100%
    {
       opacity: 1;
       position: -186px 50px 0px;
    }
}
